* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;  
}
.wrapper {
    width: 100%;
    position: relative;
    padding: 0px 15px;
    
}
.logo img {
    
    width: 60px;
    padding: 0px 15px;
    float: left;
    margin-top: 10px;
    margin-left: 0px;
    
}
nav ul {
    list-style-type: none;
    padding: 20px 15px;
    overflow: hidden;
    margin-left: 100px;
    
}
nav ul li {
    float: left;
    margin: 10px 0px;
    padding: 0px 5px;
    
}


nav ul li a {
    color: black;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: green ;
    border-radius: 30px;
}

.active a {
    color: rgb(255, 255, 255);
    background-color: green ;
    border-radius: 30px;
}

.login_bt {
    float: right;
    text-align: center;
    width: 80px;
    padding: 0px 10px;
}

.login_bt a {
    background-color: green;
    color: white;
    font-weight: bold;
    width: 100%;
    float: right;
    padding: 10px 10px;
    border-radius: 30px;
}

.login_bt a:hover{
    background-color: rgb(3, 182, 3);
    color: rgb(3, 3, 3);
}

/* Section 1*/

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    background-color: rgb(52, 54, 54);
}

section img {
    width: 40%;
    margin: 50px 50px 50px 80px;

}

.deskripsi {
    margin: auto;
    line-height: 70px;
    text-align: center;
}

.deskripsi h1 {
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-weight: bold;
    color: white;
}

.deskripsi p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

form.pencarian input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    float: left;
    width: 75%;
    background: #f1f1f1;
    text-indent: 10px;
}

form.pencarian button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
  
form.pencarian button:hover {
    background: #0b7dda;
}

form.pencarian::after {
    content: "";
    clear: both;
    display: table;
}